.card-container {
    display: grid;
    gap: 20px;
}


/* Responsive for Tablet Mode  */
@media (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        width: 90%;
        margin: auto;
    }
}